/* html, */
/* body { */
/* margin: 0; */
/* width: 100vw; */
/* height: 100vw; */
/* } */

/* * { */
/* color: white; */
/* font-family: serif; */
/* } */

/* ::selection { */
/* background: red; */
/* } */

/* #background { */
/* position: absolute; */
/* background-color: grey; */
/* background-image: url("../images/pill.png"); */
/* top: 0; */
/* left: 0; */
/* width: 100vw; */
/* height: 100vh; */
/* z-index: -1; */
/* } */

/* html { */
/* background-image: url("../images/pill.png"); */
/* background-position: top left; */
/* background-size: 12.5vw; */
/* background-attachment: fixed; */
/* background-repeat: repeat; */
/* background-color: grey; */
/* } */

/* #body { */
/* width: 50vw; */
/* min-width: 700px; */
/* max-width: 50vmax; */
/* height: 98vh; */
/* margin: auto; */
/* margin-top: 1em; */
/* margin-bottom: 1em; */
/* background-color: #292929; */
/* border-radius: 2em; */
/* border: 0.5em solid #1d1d1d; */
/* } */

/* #content { */
/* padding: 0 1em; */
/* } */

/* #content h1 { */
/* text-align: center; */
/* } */

/* #opiod { */
/* display: flex; */
/* } */

/* #opiod>img { */
/* width: 50%; */
/* } */

/* #opiod>img:hover+p { */
/* animation-name: text-appear; */
/* animation-duration: 0.5s; */
/* animation-iteration-count: 1; */
/* animation-fill-mode: forwards; */
/* opacity: 0; */
/* } */

/* #opiod>p { */
/* width: 50%; */
/* padding-left: 1em; */
/* line-height: 1.5; */
/* margin-top: auto; */
/* margin-bottom: auto; */
/* transform: translateX(-100%); */
/* opacity: 0; */
/* visibility: hidden; */
/* } */

/* @keyframes text-appear { */
/* from { */
/* transform: translateX(-100%); */
/* visibility: hidden; */
/* opacity: 0; */
/* } */

/* 35% { */
/* opacity: 0; */
/* } */

/* to { */
/* transform: translate(0); */
/* opacity: 1; */
/* } */
/* } */

@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Asap", sans-serif; */
  font-family: serif;
  font-size: 107%;
}

#content {
  background-image: url("../images/pill.png");
  background-position: top left;
  background-size: 12.5vw;
  background-attachment: fixed;
  background-repeat: repeat;
  background-color: grey;
}

body {
  background: #42455a;
}

#intro * {
  text-align: center;
}

#opioid img {
  width: 50%;
  height: 50%;
  border: 0.2vw solid black;
  transition: all 1s;
}

#opioid img:hover {
  filter: drop-shadow(.3em .3em .3em black);
  transition: all .5s;
}

#opioid div:has(p) {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
  margin-right: 1em;
}

#opioid p {
  text-align: center;
  font-size: 1.2rem;
  transition: line-height 1s ease-in-out;
  line-height: 100%;
}

#opioid p:hover {
  /* line-height: 150%; */
  line-height: 2.8vw;
  transition: all 0.5s ease-in-out;
}

.reveal h2 {
  font-size: 160%;
  transition: all 1s;
}

.reveal h2:hover {
  font-size: 180%;
  transition: all .5s;
}

/* .ocean { */
/* position: relative; */
/* display: grid; */
/* } */

/* .ocean>* { */
/* position: absolute; */
/* grid-column-start: 1; */
/* grid-row-start: 1; */
/* } */

/* #hand { */
/* width: 0; */
/* height: 15em; */
/* } */

/* #opioid div:has(img) {} */

/* #opioid p {} */

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  color: #A91D3A;
  background-color: #151515;
}

section:nth-child(3) {
  color: #EEEEEE;
  background: #C73659;
}

section:nth-child(5) {
  color: #151515;
  background-color: #A91D3A;
}

section:nth-child(7) {
  color: #151515;
  background: #C73659;
}

section:nth-child(9) {
  color: #A91D3A;
  background: #EEEEEE;
}

section:nth-child(11) {
  color: #C73659;
  background: #151515;
}

section:nth-child(13) {
  color: #151515;
  background: #A91D3A;
}

section:nth-child(15) {
  color: #C73659;
  background: #660f21;
}

section .container {
  margin: 100px;
  max-width: 1000pt;
}

section h1 {
  font-size: 3rem;
  margin: 20px;
}

h1>em {
  font-size: 2.5rem;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .text-container {
  display: flex;
}

section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }

  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}